<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static',filename='css/homeStyle.css')}}">
    <title>Document</title>
    
</head>
<body>

    <h1 class="header">Music and mental health.</h1>
    <p class="p1">Music brings us pleasure and releases our suffering 😇</p>
    <p class="p2">It can calm us down and pump us up.It helps us manage pain, sleep better and be more productive. It can calm us down and pump us up.It helps us manage pain, sleep better and be more productive.</p>
    <a href="index"><button class="button-35 btn" role="button"> Check mental status</button></a>
    
   
</body>
</html>